.search input {
  color: #fff;
  background-color: #000;
  border-color: #333;
  width: 300px;
  border: none;
}

.search button {
  background-color: #f00;
  border: none;
}

.title {
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subtitle {
  color: #999;
  size: 5px;
}

header a {
  color: #f00;
  text-decoration: none;
}

header {
  border: #000;
  border-style: solid;
}